<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prodotti</title>
</head>
<body>
    <h1>Lista prodotti</h1>

    <div>
        <ul>
            <li th:each="prodotto : ${prodotti}">
                <a th:href="@{'/prodotti/' + ${prodotto.id}}"
                   th:text="${prodotto.nome}">Nome prodotto</a>

                <form th:action="@{/utenti/1/wishlist/add/{prodottoId}(prodottoId=${prodotto.id})}"
                      method="post"
                      style="display:inline;">
                    <button type="submit">Aggiungi alla wishlist</button>
                </form>
            </li>
        </ul>
    </div>

    <a th:href="@{/}">Home</a>
</body>
</html>